<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
         <module name="Ostoya_BtFix" setup_version="1.0.0"/>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="fix_braintree_where"
                type="0syoya\BtFix\Plugin\FixBraintreeWhereClause"
                sortOrder="999"/>
    </type>
</config>
